@import '../../mixins';

.post_container{
    @include flex-container(column);
    padding: 1rem;
    box-sizing: border-box;
    width: 45%;
    @include rounder-border(var(--light-gray-color), 10px);
    @include shadow();

    .post_title{
        font-weight: bold;
        font-size: 20px;
        margin: 0 0 0.5rem 0;
    }
    .post_body{
        @include flex-container(row, space-between);
        img{
            width: 40%;
            @include rounder-border(_, 10px);
            margin-right: 0.5rem ;
        }
        
        @media screen and (max-width: 500px) {
            @include flex-container(column);
        }
    }
    @media screen and (max-width: 1000px) {
        width: 100%;
    }
    
}