@import '../../mixins';

.layout__container{
    @include flex-container(row, flex-start, center);
    padding: 0.5rem;
    box-sizing: border-box;
    gap: 1rem;
    height: 100vh;
    @media screen and (max-width: 560px) {
        gap: 0;
    }
}
.layout__header{
    @include flex-container(column, space-between, center);
    width: 15%;
    height: 100%;
    background-color: var(--light-gray-color);
    padding: 2rem 1rem;
    box-sizing: border-box;

    .layout__header-logo{
        height: 32px;
        width: 90px;
        @include backgroundImage('../../assets/Logo.png');
    }
    .layout__header-button-container{
        @include flex-container(column, flex-start, center);
        gap: 0.5rem;

        .layout_login-button{
            @include filledButton(var(--primary-color), 8rem);
            cursor: pointer;
        }
        .layout_logout-button{
            @include hollowButton(var(--red-color), 8rem);
            cursor: pointer;
        }
    }
    @media screen and (max-width: 1160px) {
        width: 20%;
    }
    @media screen and (max-width: 760px) {
        width: 25%;
    }
    @media screen and (max-width: 560px) {
        width: 30%;
    }
      
}
.layout__body{
    @include flex-container(column, flex-start, center);
    height: 100%;
    width: 85%;
    padding: 1rem;
    box-sizing: border-box;

    h1 {
        margin: 0.5rem 0 0.5rem 0;
        font-size: 28px;
        font-style: italic;
        font-weight: bold;
        text-align: center
      }

    .layout__body-header {
        @include flex-container(row, space-between, center);
        width: 100%;
    
        
    
          button{
                @include filledButton(var(--primary-color), 10rem);
                cursor: pointer;
            
            
            @media screen and (min-width: 461px) and (max-width: 560px) {
                @include filledButton(var(--primary-color), 8rem);
            }
            
        }
        @media screen and (max-width: 460px) {
            @include flex-container(column, flex-start, center);
            gap: 0.5rem;
        }
    }
    hr {
        background-color: var(--secondary-color);
        height: 1px; 
        border: none; 
        width: 100%; 
        margin: 0.5rem 0;
      }
    @media screen and (max-width: 1160px) {
        width: 80%;
    }
    @media screen and (max-width: 760px) {
        width: 75%;
    }
    @media screen and (max-width: 560px) {
        width: 70%;
    }
}